@import "stylesheets/page_start.css";
@import "stylesheets/page_menu.css";
@import "stylesheets/page_new_player.css";
@import "stylesheets/page_select_player.css";
@import "stylesheets/page_game.css";

*{
    font-family: system-ui;
}

/* Top Bar */

.box_top_bar{
	background-color: rgb(23, 95, 47);
}

.box_top_bar > button{
	background-color: rgb(23, 95, 47);
	border: 0.5px solid black;
	color: white;
}

.box_top_bar > label{
	margin-left: 100px;
	font-size: 40px;
	color: white;
}