.page_game{
	background-color: white;
}

.box_score_card{
	background-color: #fffff2;
	border: 1px solid black
}

.box_score_card_current{
	background-color: #fffff2;
	border: 3px solid red;
}

.last_score_container{
	padding: 80px 0 80px 0;
}

.label_points{
	font-size: 50px;
}

.player_container{
	padding: 50px 0 50px 0;
	font-size: 22px;
}

.btn_revert{
	background-color: red;
	color: white;
}

.entry_score{
	background-color: #fffff2;
	color: black;
}

.row1 > *{
	background-color: rgb(23,95,47);
	color: white;
}
.row2 > *{
	background-color: rgb(23,95,47);
	color: white;
}
.row3 > *{
	background-color: rgb(23,95,47);
	color: white;
}

.row4 > *{
	background-color: #fffff2;
	color: black;
}

.btn_zero{
	background-color: rgb(23,95,47);
	color: white;
}

