.page_game{
	background-color: #fffff2;
}

.box_top_bar{
	background-color: green;
}

.box_top_bar > button{
	background-color: green;
	border: 0.5px solid black;
	color: red;
}

.box_top_bar > label{
	margin-left: 100px;
	font-size: 40px;
}