.page_menu{
	background-color: #fffff2;
}


.btn_add_player{
	font-size: 18px;
	background-color: white;
	padding: 18px;
	margin: 0 60px 80px 60px;
	border-radius: 20px;
	border: 1px solid black;
}

.label_select_player{
	font-size: 30px;
}

.box_player{
	margin-top: 20px;
	padding: 20px;
	background-color: #c2e9cd;
	border-radius: 20px;
	border: 2px solid black
}

.box_player > button {
	background-color: white;
	margin: 15px 0 15px 5px;
	border-radius: 8px;
	border: 1px solid red;
}


.box_players_overview{
	border: 2px solid black;
	margin: 20px 20px 0 20px;
	border-radius: 5px;
	padding: 40px 20px 40px 20px;
	background-color: white;
}

.box_players_overview > *{
	font-size: 18px;
}

.btn_start_game{
	border: 2px solid red;
	font-size: 28px;
	background-color: rgb(23, 95, 47);
	padding: 30px;
	margin: 20px;
	border-radius: 20px;
	color: white;
} 