.page_select_player{
	background-color: #fffff2;
}



.btn_new_player{
	font-size: 18px;
	background-color: white;
	padding: 18px;
	margin: 0 60px 80px 60px;
	border-radius: 20px;
	border: 1px solid black;
}

